@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0; list-style:none; outline:none;}
body{font-size:12px; font-family:"微软雅黑"; background:#fff;}
a:link,a:visited{color:#333; text-decoration:none;}
a:hover{text-decoration:none;}
/*header*/
header{
	width:100%; 
	background:#eee;
	}
header ul{
	width:1200px; 
	overflow:hidden; 
	margin:0 auto;
	background:url(images/logo.png) no-repeat left center;
	background-size:25px;
	padding-left:30px;
	box-sizing:border-box;
	}
header li{
	height:34px; 
	float:left; 
	line-height:34px; 
	text-align:center;
	padding:0 25px;
	}
header li:hover{ background:#CCC;}
/*video*/
.video_bg{
	width:1200px; 
	margin:0 auto;
	text-align:center;
	}
.video_bg p{
	text-align:left;
	font-size:24px;
	color:#333;
	padding:20px 0 20px;
	}
video{
	width:1200px;
	height:576px;
	background:#000;
	}
/*video列表*/
.video_list{
	width:1200px; 
	margin:0 auto;
	}	
.video_list p{
	text-align:left;
	font-size:16px;
	color:#333;
	padding:20px 0 20px;
	}
.video_list ul{
	width:1200px; 
	}
.video_list li{
	width:282px;
	height:150px;
	margin-right:24px;
	float:left;
	background:url(images/pg2.jpg) no-repeat center center;
	border:3px solid #fff;
	border-radius:8px;
	box-sizing:border-box;
	background-origin:padding-box;
	opacity:0.6;
	}
.video_list .current{
	background:url(images/pg1.jpg) no-repeat;
	border:3px solid #666;
	opacity:1;
	}
.video_list li:nth-child(4){margin-right:0;}




































